#contenedor{
    background-color: #BA73F0;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
}
.division{
    height: 200px;
    width: 200px;
    border: 1px solid #825DD9;
     text-align: center;
     background-color: azure;
    margin-top: 10px
    
}
body {
    font-family: 'Source Code Pro', monospace;
}